* {
    margin: 0;
}

body {
   /* background-color: black; */
   font-family: Helvetica, sans-serif;
   font-size: 22px;
   opacity: 0.9;
}

#mission,
#tea-of-the-month,
#locations,
#contacts,
footer
 {
    position: relative;
    top: 69px;
}

header {
    position: fixed;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
}

nav {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    font-size: 22px;
    color: seashell;
}

.logo {
    filter: grayscale(70%) brightness(90%) sepia(10%);
    height: 50px;
}

#mission {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-header {
    position: relative;
    top: 450px;
    width: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mission-img {
    width: 1200px;
    height: auto;
}

#tea-of-the-month {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px auto;
    width: 1000px;

}

.month-text,
.month-text > h2 {
    margin-bottom: 20px;
    text-align: center;
}

.month-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tea-of-the-month-img {
    height: 200px;
    width: 300px;
}

.month-img-txt {
    margin: 10px 0;
    text-align: center;
}

#locations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations-img {
   width: 1200px;
   height: auto;

}

.locations-txt {
    position: absolute;
    bottom: 300px;
    z-index: 2;
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-container {
    margin-top: 15px;
    display: flex;
    gap: 40px;
}
.sub-container {
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    margin-top: 10px;
}

footer {
    height: 125px;
    text-align: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
}