* {
    margin: 0;
}

body {
   font-family: Helvetica, sans-serif;
   font-size: 22px;
   opacity: 0.9;
   color: seashell;
   background-color: black;
}

#mission,
#tea-of-the-month,
#locations,
#contacts,
footer {
    position: relative;
    top: 69px;
}

h2,
h3,
h4,
h5,
p {
    opacity: 0.9;
}

header,
nav,
#mission,
.mission-header,
#tea-of-the-month,
.month-images,
#locations,
.locations-txt,
.txt-container,
.sub-container,
#contacts,
footer {
    display: flex;
}

header,
#mission,
#tea-of-the-month,
#locations,
.locations-txt,
#contacts,
footer {
    align-items: center;
}


nav,
#contacts {
    justify-content: space-evenly;
}

#mission,
.mission-header,
#tea-of-the-month,
#locations,
.locations-txt,
.sub-container,
#contacts {
    flex-direction: column;
}

.mission-header,
.month-images,
.month-img-txt {
    justify-content: center;
 }

 .mission-header,
 .month-img-txt,
 .sub-container {
    text-align: center;
 }

.mission-header,
.mission-img,
.locations-img {
    width: 1200px;
}

.mission-img,
.locations-img{
    height: auto;
}

.tea-of-the-month-img,
#contacts {
    height: 200px;
}

.tea-of-the-month-img,
.sub-container {
    width: 300px;
}

header,
.mission-header,
.sub-container {
    background-color: black;
}


header {
    position: fixed;
    height: 69px;
    justify-content: space-between;
    z-index: 3;
    width: 100%;
    
}

nav {
    width: 25%;
}

.nav-link {
    color: seashell;
    opacity: 0.9;
}


.logo {
    filter: grayscale(70%) brightness(90%) sepia(10%) opacity(0.9);
    height: 50px;
    margin-left: 10px;
}

.mission-header {
    position: relative;
    top: 450px;
    height: 100px;
}

#tea-of-the-month {
    margin: 80px auto;
    width: 1000px;

}

.month-text,
.month-text > h2 {
    margin-bottom: 20px;
    text-align: center;
}

.month-images {
    gap: 20px;
    flex-wrap: wrap;
}


.month-img-txt {
    margin: 10px 0;
}


.locations-txt {
    position: absolute;
    bottom: 300px;
    z-index: 2;
    width: 1080px;
}

.txt-container {
    margin-top: 15px;
    gap: 40px;
}
.sub-container {
    height: 300px;
    justify-content: space-around;
}

#contacts {
    margin-top: 10px;
}

footer {
    height: 125px;
    text-align: left;
    margin-left: 20px;
}